{{#if redirect}}
	<script type="text/javascript">
		$(document).ready(function() {
			window.location.href="/?redirected=true";
		});
	</script>
{{else}}
	<script type="text/javascript" src="../javascripts/twoterAjax.js">
	</script>

	<div id="page_content">
		<div id="left_container">
			<h1 id="main_title">Twoter</h1>

			<div id="send_twote">
				{{#if isVerified}}
					<textarea id="twotearea" rows="6" placeholder="Twote Your Ass Off"></textarea><br />
					<input value="Twote" id="Twote" type="submit" onclick="addTwote('{{userId}}', '{{username}}')" />
					<p> - {{username}}</p>
				{{else}}
					<textarea id="twotearea" rows="6" placeholder="Twote Your Ass Off" disabled></textarea><br />
					<input value="Twote" id="Twote" type="submit" disabled />
				{{/if}}
			</div>

			<h1>Twotes</h1>
			<div id="receivedtwote">
				<ul id="twotes">
				{{#each twotes}}
					<li>{{this.text}} -- by {{this.username}}</li>
				{{/each}}
			</div>

		</div>

		<div id="right_container">
			{{#if isVerified}}
				<input type="submit" value="Log Out" onclick="logOut()" />
			{{else}}
				<input type="submit" value="Log Out" disabled />
			{{/if}}

			<h1>Twoters</h1>
			<ul>
				{{#each users}}
				<li id="user_{{this._id}}" onclick="findTwotesByUser('{{this.username}}')">{{this.username}}</li>
				{{/each}}
			</ul>
			<p onclick="findTwotesByUser('')">-- See All Twotes --</p>
		</div>
	</div>
{{/if}}