<script type="text/javascript" src="../javascripts/twoterAjax.js">
</script>

<div id="page_content">
	<div id="left_container">
		<h1 class="title">Twote Here</h1>

		<div id="send_twote">
			<textarea data-userId="{{userId}}" data-username="{{username}}" id="twotearea" rows="6" placeholder="Twote Your Ass Off"></textarea><br />
			<input value="Twote" id="Twote" type="submit" onclick="addTwote('{{userId}}', '{{username}}')" />
			<p> - {{username}}</p>
		</div>

		<h1 class="title">Twotes</h1>
		<div id="receivedtwote">
			<div id="twotes">
			{{#each twotes}}
				<div class="twote_box"><span class="twote_text">{{this.text}}</span><br /> <span class="twote_user">-- {{this.username}}</span></div>
			{{/each}}
			</div>
		</div>

	</div>

	<div id="right_container">
		{{#if isVerified}}
			<input type="submit" value="Log Out" onclick="logOut()" />
		{{else}}
			<input type="submit" value="Log Out" disabled />
		{{/if}}

		<h1 class="title">Twoters</h1>
		<div>
			{{#each users}}
			<div id="user_{{this._id}}" class='findByTwoter' onclick="findTwotesByUser('{{this.username}}', '{{this._id}}')">{{this.username}}</div>
			{{/each}}
		</div>
		<div id="user_all" class='findByTwoter' onclick="findTwotesByUser('', 'all')">-- See All Twotes --</div>
	</div>
</div>